#header {
  background-color: turquoise;
}

#gifzone {
  background-color: bisque;
  margin: 2px;
  padding: 5px;
}

#searchzone {
  background-color: beige;
  margin: 2px;
  padding: 5px;
}

button {
  margin: 5px;
}
